@model IEnumerable<shipping_tracking.Models.Product>
@{
    int index = 0;
}

<style>
    .team-card {
        margin-top: 2rem;
    }

        .team-card:hover {
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        }

        .team-card img {
            width: 200px;
            height: 200px;
            border-top-left-radius: calc(0.25rem - 1px);
            border-top-right-radius: calc(0.25rem - 1px);
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    .team-card-body {
        padding: 1rem;
        text-align: left;
    }

    .team-card-title {
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: bold;
    }
</style>

<form>
    @if (User.IsInRole("Customer"))
    {
        <div class="mt-4">
            <button id="submitOrder" class="btn btn-primary">Submit Order</button>
        </div>
        <hr />
    }

    <div class="row">
        @if (Model.Any())
        {
            @foreach (var product in Model)
            {
                <div class="col-md-4">
                    <div class="card team-card">
                        <img src="@product.imagePath" class="card-img-top">
                        <div class="card-body team-card-body">
                            <p class="card-title team-card-title">
                                ProductName: @product.ProductName <br>
                                Stock Quantity: @product.StockQuantity <br>
                                Price: @product.Price <br>
                                Description: @product.Description
                            </p>
                            @if (User.IsInRole("Customer"))
                            {
                                <input type="number" class="form-control quantity" atr-product-id="@product.ProductID" atr-product-price="@product.Price" min="0" value="0">
                            }
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h1>There are no products available yet ...</h1>
        }
    </div>
</form>


@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("submitOrder").addEventListener("click", function (event) {
                event.preventDefault();

                var orderItems = [];
                document.querySelectorAll(".quantity").forEach(function (input) {
                    var productId = input.getAttribute("atr-product-id");
                    var ProductPrice = input.getAttribute("atr-product-price");
                    var quantity = input.value;

                    if (quantity > 0) {
                        orderItems.push({ ProductId: productId, Quantity: quantity, ProductPrice: ProductPrice });
                    }
                });

                if (orderItems.length == 0) {
                    Swal.fire('Oops!!', 'Please select order first', 'info');
                } else {
                    fetch('/Orders/SubmitOrder', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(orderItems),
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                Swal.fire('Success!', data.message, 'success').then(function () {
                                    window.location.href = "/Home/HomePage";
                                });
                            } else {
                                Swal.fire('Error!', data.message, 'error');
                            }
                        })
                        .catch((error) => {
                            Swal.fire('Error!', 'There was a problem while submitting your order.', 'error');
                        });
                }
            });
        });
    </script>
}
